@import "tailwindcss";

@theme {
  --color-orquidea-green: #15803d; /* Um verde forte e profissional */
  --color-orquidea-light: #22c55e;
  --color-orquidea-dark: #14532d;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

/* Custom base styles that complement Tailwind */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-orquidea-green selection:text-white;
  }
}
